<section class="container mt-4" id="login-section">
    
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="row justify-content-center">
            <div class=" col-12 col-md-10 col-lg-8 text-center">
                <div class="form-group">
                    <p class="text-muted display-4">Login</p>
                    <label for="username"></label>
                    <input formControlName="username" id="username" placeholder="username" type="text" class="form-control">
                </div>
            </div>
            <div class=" col-12 col-md-10 col-lg-8 text-center">
                <div class="form-group">
                    <label for="password"></label>
                    <input formControlName="password" id="password" placeholder="password" type="password" class="form-control">
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-4 text-center">
                <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary mr-4">Submit</button>
                <button type="button" (click)="clearButton()" class="btn btn-warning">Clear</button>
            </div>
        </div>
    </form>
</section>